<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Luxurious+Script&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Pinyon+Script&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./css/faqs.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Resort</title>
</head>

<body>
    <nav>
        <div class="logo">
            <img src="../../images/logo.png">
            <h1>Annesa's Resort</h1>
        </div>

        <ul class="menu nav-menu">
            <li><a href="../../index.html">Home</a></li>
            <li>
                <a href="../services/services.html">Services</a>
                <ul class="menu-item">
                    <li><a href="#">Events</a></li>
                    <li><a href="#">Day time</a></li>
                    <li><a href="#">Night time</a></li>
                </ul>
            </li>
            <li><a href="../gallery/gallery.html">Gallery</a></li>
            <li><a href="../contacts/contact.html">Contact Us</a></li>
            <li><a href="../about/about.html">About</a></li>
            <li><a href="../faqs/faqs.html">FAQ's</a></li>
        </ul>
    </nav>
    <section>
        <div class="selection">
            <div class="left">
                <h2>Can I make a reservation on the phone?</h2>
                <p>Yes, you can and your reservation will be duly noted. But it will be considered temporary and can be cancelled at any time if another guest makes a confirmed reservation for the same for the same date.</p>
            </div>
            <div class="center">
                <h2>How do I make a confirmed reservation?</h2>
                <p>You can send us a pic of your reservation receipt through our FB Messenger page to help facilitate your reservations Please present your deposit receipt to the front desk upon check-in for billing purposes or you can call this number(+63 9214496552)</p>
            </div>
            <div class="right">
                <h2>What are your amenities? What do you offer your guests?</h2>
                <p>Our resort gives our guests the best summer vacation experience at the most affordable prices possible. Please check out our website at annesas-resort.online.com detailed information about the resort and its amenities and services. You can also browse or message us through our Facebook page or through email at annesasresort@gmail.com</p>
            </div>
        </div>
        <div class="selection">
            <div class="left">
                <h2>How to go in Annesa's Resort</h2>
                <p>Just search it from google maps or waze. It will automatically directs you to the location of the resort or just click the map icon in our website.</p>
            </div>
            <div class="center">
                <h2>Do you have free WIFI?</h2>
                <p>We have free WIFI in our main lobby, Password access is available upon request from our front desk staff.</p>
            </div>
            <div class="right">
                <h2>How many people can the resort accomodate?</h2>
                <p>The total capacity of the resort can handle 255 people. In Pax, It can accomodate atleast 8-10 pax per cottage and 3-4pax per room.</p>
            </div>
        </div>
        <div class="selection">
            <div class="left">
                <h2>Do you allow pets?</h2>
                <p>Unfortunately, We dont allow pets in respect to other persons who might have some allergies. But we allow you to bring your pets however your pets are only allowed in the cattages not in the rooms.</p>
            </div>
            <div class="center">
                <h2>Where are you located?</h2>
                <p>Dao St.Brgy.San Jose,Montalban,Rizal</p>
            </div>
            <div class="right">
                <h2>Do you have  fees for cooked food brought from outside the resort?</h2>
                <p></p>
            </div>
        </div>
        <div class="selection">
            <div class="left">

            </div>
            <div class="center">

            </div>
            <div class="right">

            </div>
        </div>
        <div class="selection">
            <div class="left">

            </div>
            <div class="center">

            </div>
            <div class="right">

            </div>
        </div>
        <div class="selection">
            <div class="left">

            </div>
            <div class="center">

            </div>
            <div class="right">

            </div>
        </div>
        <div class="selection">
            <div class="left">

            </div>
            <div class="center">

            </div>
            <div class="right">

            </div>
        </div>
        <div class="selection">
            <div class="left">

            </div>
            <div class="center">

            </div>
            <div class="right">

            </div>
        </div>
    </section>

    <footer>
        Copyright&copy; Annesa's Resort and Events Reservation System 2022. All rights reserved.
    </footer>
</body>

</html>