<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Luxurious+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Pinyon+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/gallery.css">
    <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css">

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="../../css/bootstrap.css">

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text/css" href="./css/gallery.css">
  <link rel="stylesheet" type="text/css" href="./css/lightbox.min.css">
  <script type="text/javascript" src="./js/lightbox-plus-jquery.min.js"></script>
  <!-- responsive style -->
  <link href="../../css/responsive.css" rel="stylesheet">
    <title>Resort</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="../../images/logo.png">
            <h1>Annesa's Resort</h1>
        </div>
        
        <ul class="menu nav-menu">
            <li><a href="../../index.html">Home</a></li>
                <li>
                    <a href="../services/services.html">Services</a>
                    <ul class="menu-item">
                        <li><a href="#">Events</a></li>
                        <li><a href="#">Day time</a></li>
                        <li><a href="#">Night time</a></li>
                    </ul>
                </li>
            <li><a href="../gallery/gallery.html">Gallery</a></li>
            <li><a href="../contacts/contact.html">Contact Us</a></li>
            <li><a href="../about/about.html">About</a></li>
            <li><a href="../faqs/faqs.html">FAQ's</a></li>
        </ul>
    </nav>
    
    <section class="portfolio_section layout_padding">
        <div class="container">
          <div class="custom_heading-container">
            <video id="front_video" width="1145" height="500" muted autoplay loop controls>
              <source src="../../video/facebook.mp4" type="video/mp4">
            </video>
            <script src="./js/portfolio.js"></script>
          </div>
    
          <div class="layout_padding2-top">
            <div class="row">
              <div class="col-md-4">
                <div class="img-box">
                  <div id="zoom">
                    <a href="../../images/p-1.jpg" data-lightbox="mygallery"> <img src="../../images/p-1.jpg"></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="img-box">
                  <div id="zoom">
                    <a href="../../images/p-2.jpg" data-lightbox="mygallery"> <img src="../../images/p-2.jpg"></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="img-box">
                  <div id="zoom">
                    <a href="../../images/p-3.jpg" data-lightbox="mygallery"> <img src="../../images/p-3.jpg"></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="img-box">
                  <div id="zoom">
                    <a href="../../images/p-4.jpg" data-lightbox="mygallery"> <img src="../../images/p-4.jpg"></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="img-box">
                  <div id="zoom">
                    <a href="../../images/p-5.jpg" data-lightbox="mygallery"> <img src="../../images/p-5.jpg"></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="img-box">
                  <div id="zoom">
                    <a href="../../images/p-6.jpg" data-lightbox="mygallery"> <img src="../../images/p-6.jpg"></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="img-box">
                  <div id="zoom">
                    <a href="../../images/p-7.jpg" data-lightbox="mygallery"> <img src="../../images/p-7.jpg"></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="img-box">
                  <div id="zoom">
                    <a href="../../images/p-8.jpg" data-lightbox="mygallery"> <img src="../../images/p-8.jpg"></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="img-box">
                  <div id="zoom">
                    <a href="../../images/p-9.jpg" data-lightbox="mygallery"> <img src="../../images/p-9.jpg"></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="img-box">
                  <div id="zoom">
                    <a href="../../images/p-10.jpg" data-lightbox="mygallery"> <img src="../../images/p-10.jpg"></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="img-box">
                  <div id="zoom">
                    <a href="../../images/p-11.jpg" data-lightbox="mygallery"> <img src="../../images/p-11.jpg"></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="img-box">
                  <div id="zoom">
                    <a href="../../images/p-12.jpg" data-lightbox="mygallery"> <img src="../../images/p-12.jpg"></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="img-box">
                  <div id="zoom">
                    <a href="../../images/p-13.jpg" data-lightbox="mygallery"> <img src="../../images/p-13.jpg"></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="img-box">
                  <div id="zoom">
                    <a href="../../images/p-14.jpg" data-lightbox="mygallery"> <img src="../../images/p-14.jpg"></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="img-box">
                  <div id="zoom">
                    <a href="../../images/p-15.jpg" data-lightbox="mygallery"> <img src="../../images/p-15.jpg"></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="img-box">
                  <div id="zoom">
                    <a href="../../images/p-16.jpg" data-lightbox="mygallery"> <img src="../../images/p-16.jpg"></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="img-box">
                  <div id="zoom">
                    <a href="../../images/p-17.jpg" data-lightbox="mygallery"> <img src="../../images/p-17.jpg"></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="img-box">
                  <div id="zoom">
                    <a href="../../images/p-18.jpg" data-lightbox="mygallery"> <img src="../../images/p-18.jpg"></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="img-box">
                  <div id="zoom">
                    <a href="../../images/p-19.jpg" data-lightbox="mygallery"> <img src="../../images/p-19.jpg"></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="img-box">
                  <div id="zoom">
                    <a href="../../images/p-20.jpg" data-lightbox="mygallery"> <img src="../../images/p-20.jpg"></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="img-box">
                  <div id="zoom">
                    <a href="../../images/p-21.jpg" data-lightbox="mygallery"> <img src="../../images/p-21.jpg"></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="img-box">
                  <div id="zoom">
                    <a href="../../images/p-22.jpg" data-lightbox="mygallery"> <img src="../../images/p-22.jpg"></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="img-box">
                  <div id="zoom">
                    <a href="../../images/p-23.jpg" data-lightbox="mygallery"> <img src="../../images/p-23.jpg"></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="img-box">
                  <div id="zoom">
                    <a href="../../images/p-24.jpg" data-lightbox="mygallery"> <img src="../../images/p-24.jpg"></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="img-box">
                  <div id="zoom">
                    <a href="../../images/p-25.jpg" data-lightbox="mygallery"> <img src="../../images/p-25.jpg"></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="img-box">
                  <div id="zoom">
                    <a href="../../images/p-26.jpg" data-lightbox="mygallery"> <img src="../../images/p-26.jpg"></a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="img-box">
                  <div id="zoom">
                    <a href="../../images/p-27.jpg" data-lightbox="mygallery"> <img src="../../images/p-27.jpg"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <script type="text/javascript" src="./js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="./js/bootstrap.js"></script>

    <footer>
        Copyright&copy; Annesa's Resort and Events Reservation System 2022. All rights reserved.
    </footer>
</body>
</html>