<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Luxurious+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Pinyon+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/contact.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Resort</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="../../images/logo.png">
            <h1>Annesa's Resort</h1>
        </div>
        
        <ul class="menu nav-menu">
            <li><a href="../../index.html">Home</a></li>
                <li>
                    <a href="../services/services.html">Services</a>
                    <ul class="menu-item">
                        <li><a href="#">Events</a></li>
                        <li><a href="#">Day time</a></li>
                        <li><a href="#">Night time</a></li>
                    </ul>
                </li>
            <li><a href="../gallery/gallery.html">Gallery</a></li>
            <li><a href="../contacts/contact.html">Contact Us</a></li>
            <li><a href="../about/about.html">About</a></li>
            <li><a href="../faqs/faqs.html">FAQ's</a></li>
        </ul>
    </nav>
    <section>
        <div class="contact">
          <div class="row">
            <div class="left-column">
                <form action="">
                    <div class="contact_form-container">
                      <div>
                        <div>
                          <input type="text" placeholder="Name">
                        </div>
                        <div>
                          <input type="email" placeholder="Email">
                        </div>
                        <div>
                          <input type="text" placeholder="Phone Number">
                        </div>
                        <div>
                          <input type="text" placeholder="Message Here..." class="message_input">
                        </div>
                        <div class="mt-5">
                          <button type="submit">
                            send
                          </button>
                        </div>
                      </div>
                    </div>
                </form>
            </div>
            <div class="right-column">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3858.7157192807713!2d121.12897087428527!3d14.728657773930278!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397bb195a8234af%3A0xe2ddd20c71e1c3ce!2sAnnesa&#39;s%20Resort!5e0!3m2!1sen!2sph!4v1689229280690!5m2!1sen!2sph" width="500" height="450" style="border:0; margin-left: 100px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>          
          </div>
        </div>
    </section>
    <article>
      <div class="downpage">
        <a href="tel:+639455965378"><i class='bx bxs-phone'></i></a>
        <a href="mailto:annesasresort@gmail.com?subject=Mail from our Website"><i class='bx bxs-envelope'></i></a>
        <a href="https://www.facebook.com/annesaresortofficial"><i class='bx bxl-facebook-circle'></i></a>
        <a href="https://www.instagram.com/annesasresort/"><i class='bx bxl-instagram-alt'></i></a>
        <a href="https://www.youtube.com/@LegalnaKamao"><i class='bx bxl-youtube'></i></a>
        <a href="https://goo.gl/maps/9MDXvc8MCpBKaWkG8"><i class='bx bxs-map'></i></a>
      </div>
    </article>

    <footer>
        Copyright&copy; Annesa's Resort and Events Reservation System 2022. All rights reserved.
    </footer>
</body>
</html>