<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Luxurious+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Pinyon+Script&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/services.css">
    <title>Resort</title>
</head>
<body>
    <nav>
        <div class="logo">
            <img src="../../images/logo.png">
            <h1>Annesa's Resort</h1>
        </div>
        
        <ul class="menu nav-menu">
            <li><a href="../../index.html">Home</a></li>
                <li>
                    <a href="../services/services.html">Services</a>
                    <ul class="menu-item">
                        <li><a href="#">Events</a></li>
                        <li><a href="#">Day time</a></li>
                        <li><a href="#">Night time</a></li>
                    </ul>
                </li>
            <li><a href="../gallery/gallery.html">Gallery</a></li>
            <li><a href="../contacts/contact.html">Contact Us </a></li>
            <li><a href="../about/about.html">About</a></li>
            <li><a href="../faqs/faqs.html">FAQ's</a></li>
        </ul>
    </nav>

    <section>
        <div class="box-container">
            <a href="#">
                <div class="box">
                    <img src="../../images/book sted.png" alt="" class="img-1">
                    <img src="../../images/book anim.gif" alt="" class="img-2">
                    <br>
                    <h1>Events Reservation</h1>
                </div>
            </a>
            <a href="#">
                <div class="box">
                    <img src="../../images/Sun sted.png" alt="" class="img-1">
                    <img src="../../images/sun.gif" alt="" class="img-2">
                    <br>
                    <h1>Day-time Reservation</h1>
                </div>
            </a>
            <a href="#">
                <div class="box">
                    <img src="../../images/moonsted.png" alt="" class="img-1">
                    <img src="../../images/Moon.gif" alt="" class="img-2">
                    <br>
                    <h1>Night-time Reservation</h1>
                </div>
            </a>
        </div>
    </section>
    
    <footer>
        Copyright&copy; Annesa's Resort and Events Reservation System 2022. All rights reserved.
    </footer>
</body>
</html>
