*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color:#1F1D36;
    background: url("../../../images/bgo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.nav-menu:before,
.nav-menu:after{
    content: " ";
    display: table;
}

.nav-menu:after{
    clear: both;
}

nav{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    background: linear-gradient(rgb(47, 47, 185), green);
    width: 100%;
    height: 55px;
    padding: 0px;
    display: flex;
    flex-direction: row;
}

.menu, .submenu{
    margin: 0;
    padding: 0;
    list-style: none;
}

.logo{
    display: flex;
    flex-direction: row;
}
.logo h1{
    margin-left: 15px;
    font-size: 2.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: skyblue;
}

.logo img{
    margin-left: 0;
    margin-top: 10px;
    width: 50px;
    height: 40px;
}

.menu{
    margin: 0px auto;
    margin-top: 5px;
    margin-right: 21px;
    width: 800px;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
}

.menu > li{
    background: rgb(1, 90, 1);
    float: left;
    position: relative;
    transform: skewX(25deg);
}

.menu a{
    display: block;
    color: lightblue;
    text-transform: capitalize;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
}

.menu li:hover{
    background: rgb(42, 164, 194);
}

.menu > li > a {
    transform: skewX(-25deg);
    padding: 1em 2em;
}

/* Dropdown */
.menu-item {
    position: absolute;
    width: 150px;
    left: 50%;
    margin-left: -100px;
    transform: skewX(-25deg);
    transform-origin: left top;
}

.menu-item li{
    background-color: #1360acbe;
    position: relative;
    overflow: hidden;
}

.menu-item > li > a{
    padding: 1em 2em;
}

.menu-item > li::after {
    content: '';
    position: absolute;
    top: -125%;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 50px rgba(0, 0, 0, -9);
}

.menu-item > li:nth-child(odd){
    transform: skewX(-25deg) translateX(0);
}

.menu-item > li:nth-child(odd) a {
    transform: skewX(25deg);
}

.menu-item > li:nth-child(odd)::after {
    right: -50%;
    transform: skewX(-25deg) rotate(3deg);
}

.menu-item > li:nth-child(even){
    transform: skewX(25deg) translate(0);
}

.menu-item > li:nth-child(even) > a{
    transform: skewX(-25deg);
}

.menu-item > li:nth-child(even)::after{
    left: -50%;
    transform: skewX(25deg) rotate(3deg);
}

/* Show dropdown */
.menu-item, .menu-item li{
    opacity: 0;
    visibility: hidden;
}

.menu-item li{
    transition: 0.2s ease transform;
}

.menu > li:hover .menu-item,
.menu > li:hover .menu-item li{
    opacity: 1;
    visibility: visible;
}

.menu > li:hover .menu-item li:nth-child(even){
    transform: skewX(25deg) translateX(15px);
}

.menu > li:hover .menu-item li:nth-child(odd){
    transform: skewX(-25deg) translateX(-15px);
}

.selection {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left, .center, .right{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: rgba(21, 121, 1, 0.507);
    margin-top: 100px;
    margin-bottom: 50px;
    width: 30%;
    height: 250px;
    border: inset;
    border-radius: 25px;
    border-width: 5px;
}

h2 {
    text-align: center;
    margin: 10px;
}

p {
    text-align: justify;
    margin: 10px;
    font-size: 17px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Luxurious', cursive;
    font-weight: 900;
    height: 50px;
    background: linear-gradient(90deg, blue, limegreen, green);
}